<h1>DIY Hunts</h1>

<p>Headin West provides elk and mule deer hunt plans in Montana and Wyoming for DIY hunters.
  This service is much more difficult to put together.
  Setting up clients with a location that fits their group's goals and abilities is critical to their success and overall enjoyment.
  The plans vary greatly and together we decide which one works best for you.
</p>

<p>
  DIY hunt packages include 1:24 USGS topo maps marked with everything a hunter needs: Where to set camp whether it's at the truck or in the back country (or both),
  places where you can get cell phone signals, water sources.
  I mark pack trails used to cover ground and access the area.
  Hunting routes. Of course it will also include the good stuff such as game trails, where you can expect to find elk bedding, feeding, wallowing, and traveling based on my actual hunting experience in that spot.
  I have hunted and/or guided in all of the places I sell plans for.
  I also include a set of detailed written instructions on how to approach and hunt the area efficiently.
  Since things can vary on the spot due to weather or how you feel on a particular day all plans have a plan B, C etc so you can adapt accordingly.
  That usually includes a direction you can hunt where you can expect to leave the majority of the competition behind.
</p>

<p>
  Also included are other hunt logistics. Contact info for local services such as hotels, meat processors, taxidermists, groceries etc.
  Some include places to rent horses and a place for my clients to ship gear in advance if they plan to fly.
  Your hunt plan includes everything you need to have a great hunt on your own start to finish.
</p>

<p>
  Once I receive your contract and payment I order the maps.
  At that time I also give you some landmarks so that you and your partners can go online and start to become familiar with your area.
  That will quench your thirst until your hunt plan arrives. At that point I also assist clients with hunting license applications.
  Once you receive your plan and look it over you are sure to have questions and I will answer all of them via phone or email to make sure that when you show up to hunt you as ready as possible to put the plan to good use.
</p>

<p>
  Things I can't provide: Perfect wind direction. Suicidal elk. Good shot placement. The physical ability and self motivation to get out there every day like you need to.
  Regardless of where you are hunting your success ultimately depends on you and your partners!
  I think the main ingredient to punching elk tags is having a great place to hunt.
  One you can call home and go back to year after year and keep learning.
  It's nice to know you can speed up that learning curve to become successful at hunting elk on your own from day 1.
  With the cost of licenses these days and the value of your time a hunt plan is a great value.
  The investment is no comparison to the cost of even one season of experimenting on your own to find a quality place to hunt elk.
  There are 30 years of elk hunting experience and outfitting into learning these areas and putting it all together in a package for my clients.
  I'm happy to be able to say that their success has been as good or better than my own.
</p>
