<h1>About</h1>
<p>
  I think the best way to give my clients what they want is to put myself in their shoes.
  That's an easy thing to do because I've been there. As a lifelong resident of Pennsylvania I had dreamed of heading west since I was a kid.
  Back then there were no television hunting shows or even the internet.
  Just a few magazine articles from guys like Jack Oconnor and Jim Zumbo who were mainly hunting cushy private ranches that you and I would never see.
  We had deer camps up north and I was at home roam- ing the big hills. As you may know Pa has some monster elk and eventually I spent some time around them.
  At 18 I started hunting Wyoming for mule deer and antelope. I crossed paths with some nice bulls and the rest is history.
  My brother and I booked an archery elk hunt in Montana over 25 years ago.
  That was the first and last outfitted hunt I ever went on other than where guides are required by law.
  Interestingly our third man never hunted elk again. It's not for everyone!
  After that we hunted both Montana and Idaho on our own up and down their common border.
  In 1999 I bought an outfit in Montana which I owned and operated for 13 years.
  My plan was to learn as much as I could about the wiley wapiti by hunting them full time.
  It worked! Eventually I returned to Wyoming with my 'formal education' and have had continued success there as well.
  All the while I practiced my second pas- sion which is to teach.
  I would teach my fully guided clients to hunt on their own and many would return and have success as drop camp hunters.
  I had the highest rate of repeat hunters in the area and I think that speaks for itself.
  Not only were they happy with the hunting but we also became good friends in the process which I think says even more.
</p>

<p>
  At the same time I would participate on internet talk forums teaching both rookies as well as hunters with a bit of experience.
  Then in 2012 I sold my outfitting business.
  Then in 2013 I decided to take all of my hard earned knowledge and all of those honey holes I had stomped and pass them on to others in the form of a top notch consulting business.
  I can't hunt them all right! I only know how to do things one way and that's the right way.
  As of this writing I've managed to punch my last 12 elk tags in a row all on public land with easy to get elk tags.
  I guess it's safe to say I've got a few things figured out.
  So this is your chance to let me save you some valuable time and money as well as a lot of footsteps by taking advantage of the services offered by Headin' West Hunting Consultants.
</p>
