<h1>Services</h1>

<p>If you're considering heading west to hunt elk for the first time or have tried it before with little or no success you may want to consider a few things.
  Those of you who have hunted elk know that the reality is that what you may have watched on tv is well... not reality.
  I've been an elk hunter, guide, and licensed outfitter for quite a few years.
</p>

<p>
  Ive put together hundreds of hunt plans for every type of hunter from physically fit guys and people with plenty of experience,
  to the once in a lifetime clients whose goals surely exceeded their abilities.
  Over the years I've pretty much seen it all including the hunters who were after trophy bucks and bulls to those who were happy with any good representative animal.
  I've also pointed more than my share of do it yourself elk hunters in the right direction. You can't send all clients out with the same game plan!
  Im a serious do it yourself hunter myself and like many I venture to new areas from time to time starting from scratch.
</p>

<p>  Hunt research and planning is serious business and the results are never guaranteed.
  Experience is the best teacher and without it you may simply be rolling the dice hoping for a little luck.
  All year long hunters anticipate and prepare for those long awaited 7 or 10 days.
  We buy new gear, master the art of calling, make sure our shooting is second nature, spend the money for those pricey elk licenses, all investments in your hunt.
  Then we set aside some time away from work and family to go roam the Rockies hoping to achieve our goal. But suffice it to say that all that time, money,
  and high hopes will not fill the freezer and hang a rack on your wall if the elk just aren't there or if you show up to find that worse yet....
  a hundred other hunters are also calling your honey holes home. To me planning is not only a very enjoyable aspect of a hunt but also the most important.
  The better the plan the higher the chances of success.
</p>


