.sidenav-container {
  //subtract toolbar height
  height: calc(100% - 64px);
}

.full-width {
  width: 100%;
}

mat-sidenav {
  .entry{
      display: flex;
      align-items: center;
      gap: .5rem;
  }
}

.expanded {
  width: 150px;
}

.content-holder{
  width: 70%;
  margin-left: 2%;
}
