<h1>Before You Decide</h1>
<p>
  Attending outdoor shows and replying to countless emails I've heard more than my share of sad stories of hunts gone bad.
  It's likely you've heard the horror stories too from friends, coworkers, or on the internet.
  More often than not the common factors are similar: Brutal country, no elk, too many hunters, and/or elk that just wont cooperate because of all those hunters.
  For that reason I think most will agree that the most important aspect of any elk hunt is location.
  Headin' West Hunt Consulting takes the guess work out of that for you.
  So if you and your partners are interested in a solid foundation to a successful elk hunt please consider my services.
  I'm sure you won't regret it.
</p>

<p>
  When looking at the cost of the DIY packages you need to consider what you are getting for your money.
  First realize that compared to the cost of outfitted hunts they are relativley cheap.
  Especially if you are splitting the cost with partners. Then consider what you don't get from an outfitter.
  First and foremost a guided hunt is a one shot deal. If you want to return for another hunt you'll need to pay the fee all over again.
  It's not likely that you can return there to hunt on your own. Not very ethical either I might add.
  With my do it yourself hunt packages you essentially get a place you can return to year after year at no additional cost.
  A place to call home for a one time fee. You'll get a complete plan which not only includes a quality area to hunt but also the topo maps that go with it,
  details on where to look for game, an outline on how to approach the area, where to camp, water sources and even information on local services such as meat processors etc.
  I hope you will agree that what I have to offer has a higher value than any outfitted hunt which will cost you anywhere from $2000 to $6500+ per hunter annually.
</p>


